img{
    width: 80px; 
    height: 55px;
    float: left;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
div{
    font-size: 12px;
}
a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #1776be;
}
a:hover{
    color: #ffa200;
}